@model HomeModel

<!-- HERO -->
<div class="beny_tm_hero" id="home">
	<div class="background">
		<div class="image" data-img-url="img/slider/1.jpg"></div>
		<div class="overlay"></div>
	</div>
	<div class="container">
		<div class="content">
			<div class="content_inner">
				<h3 class="name">Merhaba! Ben @HomeModel.Hakkimda.AdSoyad </h3>
				<h3 class="job">Yazılım Mühendisi<br /> <span>Based In Turkey.</span></h3>
				<p class="text">Yazılım dünyasına ayaklarımı küçük yaşlardan beridir var olan hevesimi koruyup öğrenim görerek atmış olup bu süreçte kendimi her zaman daha iyisi ve zamanla da en iyilerden olabilmak için gelişme durumumu sürdürmekteyim. (Değişecek...)</p>
				<div class="mobile_social">
					<ul>
						<li><a href="#">FB.</a></li>
						<li><a href="#">DR.</a></li>
						<li><a href="#">BE.</a></li>
						<li><a href="#">TW.</a></li>
					</ul>
				</div>
				<div class="beny_tm_button">
					<a class="anchor" href="#about">
						<span class="wrapper">
							<span class="first">Beni Tanıyın!</span>
							<span class="second">Beni Tanıyın!</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="social">
		<ul>
			<li><a href="#">FB</a></li>
			<li><a href="#">IG</a></li>
			<li><a href="#">TW</a></li>
			<li><a href="#">LE</a></li>
		</ul>
	</div>
</div>
<!-- /HERO -->