<!-- MOBILE MENU -->
<div class="beny_tm_mobile_menu">
	<div class="mobile_menu_inner">
		<div class="container">
			<div class="mobile_in">
				<div class="logo">
					<a href="#"><img src="img/logo/dark.png" alt="" /></a>
				</div>
				<div class="my_trigger">
					<div class="hamburger hamburger--collapse-r">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dropdown">
		<div class="container">
			<div class="dropdown_inner">
				<ul class="anchor_nav">
					<li><a href="#home">Anasayfa</a></li>
					<li><a href="#about">Hakkımda</a></li>
					<li><a href="#skill">Yetenekler</a></li>
					<li><a href="#service">Hizmetler</a></li>
					<li><a href="#comment">Yorumlar</a></li>
					<li><a href="#contact">İletişim</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /MOBILE MENU -->
