	<!-- TOPBAR -->
<div class="beny_tm_topbar">
	<div class="in">
		<div class="topbar_inner">
			<div class="logo">
				<a href="#"><img src="img/logo/BcLogo.png" alt="" /></a>
			</div>
			<div class="menu">
				<ul class="anchor_nav">
					<li class="current">
						<a href="#home">
							<span class="first">Anasayfa</span>
							<span class="second">Anasayfa</span>
						</a>
					</li>
					<li>
						<a href="#about">
							<span class="first">Hakkımda</span>
							<span class="second">Hakkımda</span>
						</a>
					</li>
					<li>
						<a href="#skill">
							<span class="first">Yetenekler</span>
							<span class="second">Yetenekler</span>
						</a>
					</li>
					<li>
						<a href="#service">
							<span class="first">Hizmetler</span>
							<span class="second">Hizmetler</span>
						</a>
					</li>
					<li>
						<a href="#comment">
							<span class="first">Yorumlar</span>
							<span class="second">Yorumlar</span>
						</a>
					</li>
					<li>
						<a href="#contact">
							<span class="wrapper">
								<span class="first">İletişim</span>
								<span class="second">İletişim</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /TOPBAR -->